#topNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 56px; */
    // border-radius: 4px;
    flex: 1;
}

#logoAndName {
    display: flex;
}

#appName {
    width: 71px;
    /* height: 32px; no need as you have align center already*/
    font-size: 20px;
    margin-left: 20px;
}

#home {
    margin-left: 20px;
    width: 42px;
    /* height: 18px; no need as you have align center already*/
    font-size: 20px;
}

#home:hover {
    opacity: 0.75;
}

#iconArea {
    display: flex;
    
}

#nameAndLogin {
    display: flex;
    align-items: center;
}

#userName {
    margin-right: 20px;

}

#loginAndLogoutButton {
    width: 6vw;
    height: 2.375rem;
    margin-right: 20px;
    line-height: 2.375rem;
    text-align: center;
}