.mainContainer {
    display: flex;
    height: 91.94vh;
}

.column1 {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    background: lightcyan;
    height: 100%;
}

.column2 {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background: lightblue;
    height: 100%;
}
